html
{
    font-family: Raleway, sans-serif 16px ;
    line-height: 1.5;
    max-width: 1080px; 
    margin: 0 auto !important; 
    float: none !important; 
    
}

h1,h2
{
 font-family: "Great Vibes", cursive;   
 line-height: 1.2;
 font-weight: bold;
}