*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 1em;
}

header, .article-nav, aside, footer{
    padding: 1em 0;
    background-color: rgb(174, 205, 243);
    border-radius: 0.3em;
}

header p{
    font-size: 2em;
    font-weight: bold;
}


ul{
    list-style: none;
    padding-left: 5px;
}

nav li{
    padding: 5px 0;
    margin: 0 1em;
}

a{
    color: rgb(136, 26, 26);
    text-decoration: none;
}

aside h2{
    font-size: 2em;
    padding-left: 10px;
}

aside ul{
    padding: 1em 3em;
    list-style:disc;
}

footer{
    padding-left: 10px;
}

.header-nav li{
    text-align: center;
    padding: 1em 0;
}


@media (min-width: 500px){
    body{
        gap: 1em;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
    }

    header, footer{
        flex: 1 1 100%;
    }

    nav{

        flex: 1 1 30vh;
    }

    nav ul{
        display: flex;
        flex-direction: row;
    }
    
    aside{
        flex: 1 1 70vh;
    }

    header{
        display: flex;
        align-items: end;
    }

    .header-nav li{
        display: inline-block;
        padding: 0 10px;
    }
    
}
