html
{
    font-family: Helvetica, sans-serif;
}

body{
    max-width: 60em;
    margin: 0 auto;
}

h1{
    margin-right: 3em;
}

h1,nav{
    display:inline-block;
}

li
{
    display: inline-block;
    width: 5em;
}

a
{
    color: green;
    text-decoration: none;
}

hr
{
    height: 2px;
    color: rgb(81, 81, 81);
    background-color: rgb(81, 81, 81);
}
