html
{
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51) ;
}

img
{
    display: block;
    width: 100%;
    height: auto;
}
body {
    display: flex;
}

article {
    flex: 1;
    margin-right: 20px; /* Adjust the margin as needed */
}

aside {
    width: 200px; /* Adjust the width as needed */
}